# Ce fichier est responsable de:
# - exclure du git les fichiers locaux/generes du frontend
# - eviter de versionner les dependances installees localement
# - eviter de versionner les artefacts de build et les logs
# - garder le depot propre et reproductible

# Journaux
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Dossiers/fichiers d editeurs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
